PORT=3001
# Debe coincidir con docker-compose (.env raíz) o tu PostgreSQL local
DATABASE_URL=postgresql://ecoo:ecoo_secret@localhost:5432/ecoo
JWT_SECRET=ecoo_jwt_dev_secret_cambiar_en_produccion
CORS_ORIGIN=https://ecoo-pgpk.onrender.com,https://ecoo-company2.onrender.com,http://localhost:5174,https://ecoo-admin.onrender.com
MAX_DISTANCE_METERS=50
URL_CIUDADANO=http://localhost:5173
URL_CAJA=http:https://ecoo-company2.onrender.com
URL_ADMIN=http:https://ecoo-admin.onrender.com
